html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#game-area {
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;
    background-color: green;
    border: 5px solid red;
  
    display: flex;
    flex-direction: column;
}

/* Altura relativa: 15% para o topo, 70% para o jogo, 15% para os botões */
#top-section {
  flex: 0 0 15%;
  background-color: #d0ffd0; /* verde claro para distinguir */
  border-bottom: 2px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#middle-section {
  flex: 1; /* ocupa o espaço restante */
  background-color: #aaffaa;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  display: grid;
}

.grid-cell {
  background-color: white;
  /*border: 1px solid black;*/
  box-sizing: border-box;
}

#bottom-section {
  flex: 0 0 15%;
  background-color: #d0ffd0;
  border-top: 2px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
}
