html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#game-area {
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;
    background-color: green;
    border: 5px solid red;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
